body {
    font-family: Arial;
    background: #121212;
    color: white;
    text-align: center;
}

input {
    padding: 10px;
    width: 250px;
}

button {
    padding: 10px 15px;
    background: #4CAF50;
    border: none;
    color: white;
}

.entropy-bar {
    width: 300px;
    height: 20px;
    background: #0e0d0d;
    margin: 20px auto;
    border-radius: 10px;
}

.entropy-fill {
    height: 100%;
    background: linear-gradient(to right, red, yellow, green);
    border-radius: 10px;
}